
input{
   jdbc{
      jdbc_driver_library=>"/Users/mac/Downloads/mysql-connector-java-8.0.30/mysql-connector-java-8.0.30.jar"
      jdbc_driver_class=>"com.mysql.jdbc.Driver"
      jdbc_validate_connection=>true
      jdbc_connection_string=>"jdbc:mysql://localhost:3306/project?serverTimezone=Asia/Seoul"
      jdbc_user => "root"
      jdbc_password => "gustjr0227"
      schedule => "0 */5 * * * *"
      statement=>"select b.id,b.title,b.content,u.email,u.name,b.created_at from board b inner join user u on u.id = b.user_id"

      }
   }

filter{
   mutate {
    copy => { "id" => "[@metadata][_id]"}
    remove_field => ["@version", "@timestamp"]
  }
}

output{
    elasticsearch{
        hosts => ["localhost:9200"]
        index => "board"
        document_id => "%{[@metadata][_id]}"
    }
   stdout {}
}